version: "3.8"

services:
  php:
    build: .
    volumes:
      - .:/var/www
    networks:
      - appnet

  nginx:
    image: nginx:latest
    volumes:
      - .:/var/www
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - php
    networks:
      - appnet

  node:
    build:
      context: .
      dockerfile: Dockerfile.node
    working_dir: /usr/src/app
    volumes:
      - .:/usr/src/app
    ports:
      - "3000:3000"
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
