services:
  nginx:
    image: nginx:latest
    volumes:
      - ./public:/var/www/public
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    #   - ./certbot/conf:/etc/letsencrypt
    #   - ./certbot/www:/var/www/certbot
    ports:
      - "80:80"
    #   - "443:443"
    depends_on:
      php:
        condition: service_healthy
      node:
        # condition: service_healthy
        condition: service_started
    networks:
      - appnet

  php:
    build: .
    volumes:
      - .:/var/www
    ports:
      - "8000:8000"
    networks:
      - appnet
    healthcheck:
      test: ["CMD", "php-fpm", "-t"]
      interval: 10s
      timeout: 5s
      retries: 3

  node:
    build:
      context: .
      dockerfile: Dockerfile.node
    working_dir: /usr/src/app
    volumes:
      - .:/usr/src/app/
      - /usr/src/app/node_modules
    ports:
      - "3000:3000"
    networks:
      - appnet
    # healthcheck:
    #   test:
    #     [
    #       "CMD",
    #       "node",
    #       "-e",
    #       "require('http').get('http://localhost:3000/health')",
    #     ]
    #   interval: 10s
    #   timeout: 5s
    #   retries: 3

#   certbot:
#     image: certbot/certbot
#     volumes:
#       - ./certbot/conf:/etc/letsencrypt
#       - ./certbot/www:/var/www/certbot
#     networks:
#       - appnet
#     restart: "no"

networks:
  appnet:
    driver: bridge
