version: "3.8"

services:
  php:
    build: .
    volumes:
      - .:/var/www

  nginx:
    image: nginx:latest
    volumes:
      - .:/var/www
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - php

networks:
  appnet:
    driver: bridge
